@media (min-width: 768px) and (max-width: 1192px) {
    .tablet-hide {
        display: none !important;
    }

/* Vars */
:root {
    --gap-padrao: 2rem;
    --padding-basico: 12vw 7vw 0% 7vw;
  }

    
  /* ----------------------------------------------------------------------------------- */

/* Menu ícones */
.menu-ilustrado-main-container {
  padding-top: 10vw;
}

.menu-ilustrado-container {
  padding: 0vw 7vw 0% 7vw;
 }

 .menu-box {
  width: 15rem;
  height: 12rem;
}

/* Parte 1 - Apresentação */
.prompt-sintese {
    max-width: 25rem;
    align-self: center;
}



/* Parte 3 - IA em questões matemáticas */
.parte-3-matematica .main-container {
    padding: var(--padding-basico);
  }

  .parte-3-matematica .sub-container-1 .sub-esquerda p:first-child {
    padding-left: 7vw;
  }

  .parte-3-matematica .divisao-rede {
    margin-top: 3rem;
  }

.parte-3-matematica .sub-container-3 {
    padding: 0 4vw 0% 4vw;
    gap: var(--gap-padrao);
  }

  .icone-cerebro img:first-child {
    width: clamp(32rem, 70%, 70%)
  }

  .parte-3-matematica .main-container-2 {
    padding: 0 7vw 0% 7vw;
  }


  .parte-3-matematica .container-imagens-1 .print,
  .parte-3-matematica .container-imagens-2 .print,
  .parte-3-matematica .container-imagens-3 .print {
    width: clamp(42rem, 54vw, 54vw);
  }

  .parte-3-matematica .divisao-engrenagem:last-child {
    margin: calc(1 * var(--gap-padrao)) 0 calc(2 * var(--gap-padrao)) 0
  }



/* ----------------------------------------------------------------------------------- */



/* Parte 4 - Como utilizar a IA gen? Pensando em comandos. */
.parte-4-como-utilizar .arte-1 {
    margin-bottom: 2rem;
    max-width: 70vw;
}

.parte-4-como-utilizar .main-container {
padding: var(--padding-basico);
}

.parte-4-como-utilizar .com-a-ia-box {
    max-width: 85%;
}

.parte-4-como-utilizar .main-container-2 {
    padding: 1% 7vw 0% 7vw;
}

.parte-4-como-utilizar .box-enem {
    margin-bottom: 0;
}

.parte-4-como-utilizar .main-container-3 {
    padding: var(--gap-padrao) 7vw 0% 7vw;
}

/* ----------------------------------------------------------------------------------- */



/* Parte 5 - Como posso usar a IA para meus estudos?  */

.parte-5-estudos  .main-container-2 {
  display: flex;
  flex-direction: row;

  gap: var(--gap-padrao);
  padding: 1rem 1.5rem calc(4* (var(--gap-padrao))) 1.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.parte-5-estudos .main-container-2 .sub-container-2-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(4* (var(--gap-padrao)));
}

#box-estudos-etica button {
  white-space: normal;
}

/* ----------------------------------------------------------------------------------- */



/* Parte 6 - IA: Questão de Ética  */
.parte-6-etica  .main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 12vw 7vw 8vw 12vw;
  gap: var(--gap-padrao);
}

.parte-6-etica .main-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  background: 
    url('../assets/teste.png') no-repeat center bottom / contain, 
    linear-gradient(180deg, rgba(246,235,252,1) 0%, rgba(246,241,228,1) 100%); 
    gap: calc(1.5* (var(--gap-padrao)));
    padding: 4rem 2rem calc(2* (var(--gap-padrao))) 2rem;
    box-shadow: inset 0px 4px 1px -2px rgba(46, 46, 46, 0.08);
}


.parte-6-etica .main-container-2 #box-estudos-etica {
  max-width: 100%;
}

.parte-6-etica .main-container-2 .sub-container {
  gap: var(--gap-padrao);
}

.parte-6-etica .main-container-2 .divisao-engrenagem {
  margin-top: var(--gap-padrao);
}

/* Parte 7 - A IA em sua rotina Univesp  */
.parte-7-rotina  .main-container {
  padding: var(--padding-basico);
  gap: var(--gap-padrao);
}

.parte-7-rotina  .main-container .exemplos-de-comandos {
  align-self: center;
  padding: 1.5rem 2rem 1.5rem 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  max-width: 80vw;
  text-align: center;

}

.parte-7-rotina .main-container-2 {
  padding: 8vw 7vw 0% 7vw;
  gap: calc(2* (var(--gap-padrao)));
}


/* glossário e referências */
.content.visible {
  padding: 8vw 7vw 0% 7vw;
}

}