@media (max-width: 575px) {
    .mobile-hide {
        display: none !important;
    }

    :root {
      --padding-lateral-mobile: 4%;
        --gap-padrao: 2rem;
        --padding-basico: 20vw 5vw 0% 5vw;
      }
    



#titulo {
  margin-bottom: 0;
}

/* Banner */

.banner {
  width: auto;
  height: 5vh; 
  overflow: hidden; 
}

      /* Menu */
      .nav-menu-mobile-container {
        display: none;   
        flex-direction: column;           
        justify-content: space-between;
        width: 100%;                           
        position: relative;
        transition: top 0.3s ease; 
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
        background-color: var(--cinza-escuro);
      }
      
      .fixed {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
      }

      .nome-secao-container  {
        display: flex;            
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.2rem;
      }

      .nome-secao-container button {
        background-color: transparent; 
        border: none;
      }


      .nav-menu-mobile-container p {
        margin: 0 auto; 
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
      }

      .ham-icon img {
        width: 2.2rem;

      }

      .mobile-dropdown-menu {
        display: flex;
        flex-direction: column;
        overflow: hidden; 
        transition: max-height 0.2s ease, opacity 0.2s ease;
      }

      .mobile-dropdown-menu a {
        padding: 1rem;
        color: var(--preto); 
        text-decoration: none;
        text-align: left;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }

      .mobile-dropdown-menu.hidden {
        opacity: 0;
        max-height: 0;
      }
      
      .mobile-dropdown-menu.visible {
        opacity: 95%;  
        max-height: 1000px;
      }


    /* Divisão Ziguezague */
    .divisao-zigue-1 {
        width: 50vw;
    }

    /* Divisão Formas */
    #divisao-formas {
        width: 60px;
        height: auto;
        margin: 0;
    }

/* Títulos */
    #titulo h2 {
      font-size: 1.6rem;
    }
  

    /* Ícone Subtítulos */
    #icone-cabeca {
      max-width: 2.6rem;
      height: auto;
    }


  /* Menu ícones */
  .menu-ilustrado-main-container {
    padding-top: 18vw;
  }

    .menu-ilustrado-container {
      padding: 0 3vw 4vw 3vw;
      gap: calc( 1*  (var(--gap-padrao)));
     }
    


    .menu-box {
      border-radius: 1rem;
      display: flex;
      flex-direction: row;
      transition: translate 0.1s ease; 
      height: 6rem;
      width: 19rem;
    }

    .container-texto {
      flex: 3;
      padding: 0.5rem 1rem;
    }

    .container-icone img {
      max-width: 60%;
      height: auto;
      object-fit: contain; 
    }

    .imagem-apresentacao  {
      max-width: 60% !important;
    }

    .menu-box h5 {
      font-size: 1rem;
      text-align: left;
     }

     .apresentacao-texto {
      hyphens: auto;
     }

/* Parte 1 - Apresentação */
  .prompt-sintese {
    max-width: 70vw;
    align-self: center;
}

.parte-1-apresentacao .sub-container-3-small-mobile {
  position: relative;
  background-color: var(--lilas-aux); 
  border-radius: 10px; 
  padding: 1rem 1rem; 
  display: flex; 
  align-items: center; 
  gap: 1rem;
  align-self: center;
}

.parte-1-apresentacao .sub-container-3-small-mobile p {
  flex: 1;
  position: relative;
}

.parte-1-apresentacao .divisao-rede {
  margin-bottom: 2rem;
}

.parte-1-apresentacao .sub-container-3-small-mobile .pesquisa-icone {
  max-height: 4.2rem;
  width: auto;
  object-fit: cover; 
}

/* Parte 2 - Alguns produtos que utilizam IA gen */

.parte-2-produtos .logos-container {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-items: center;
  align-items: center;
  gap: 0rem;
  width: 85%;
  transition: gap 0.5s ease-in-out;
}

.logos-container.in-view {
  gap: 3rem;
}

.parte-2-produtos .sub-container-1 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.parte-2-produtos .sub-container-1 p {
  margin-left: 0;
}

.parte-2-produtos .sub-container-1 img {
  width: 3rem;
  height: auto;
}

.parte-2-produtos .logos-container img {
  width: 60%;
  height: auto;
}

.parte-2-produtos .ha-varias {
  max-width: 100%;
  padding: 1.8rem 1.8rem;
}

.parte-2-produtos .saiba-mais-sub-container div {
  display: flex;
  flex-direction: column;
}

/* ----------------------------------------------------------------------------------- */



/* Parte 3 - IA em questões matemáticas */
.parte-3-matematica .main-container {
  padding: var(--padding-basico);
  gap: 0;
}

.titulo-parte-3 {
  margin-bottom: var(--gap-padrao) !important;
} 

.ilustra-matematica-container {
display: flex;
padding: 0% 7vw 0% 7vw;
justify-content: center;
align-items: center;
margin-top: var(--gap-padrao);
border-radius: 1rem;
}

.ilustra-matematica-container img {
  max-width: 85vw;
  border-radius: 1rem;
}

.parte-3-matematica .sub-container-1 .sub-esquerda p:first-child {
  padding-left: 7vw;
}

.parte-3-matematica .sub-container-2 {
  padding: calc(2 * var(--gap-padrao)) 7vw 0% 7vw;

}

.parte-3-matematica .sub-container-1 {
 padding-right: 7vw;
}

.parte-3-matematica .sub-container-1 .porem img {
  max-width: 65%;
}

.parte-3-matematica .sub-container-1 .porem .atencao-container {
  max-width: 24vw;
}

.parte-3-matematica .sub-container-1 .sub-esquerda {
  max-width: 100%;
}

.parte-3-matematica .sub-container-2 {
  padding: calc(2 * var(--gap-padrao)) 5vw 0% 5vw;
}

.icone-cerebro {
  margin: var(--gap-padrao) 0 1rem 0;
}

.icone-cerebro img:first-child {
  width: 90%;
}

.parte-3-matematica .sub-container-3 {
  display: flex;
  flex-direction: column;
  padding: 0 4vw 0% 4vw;
  gap: calc(1.5 * var(--gap-padrao));
}

.matematica-gen-container {
  padding-top: var(--gap-padrao);
}

.matematica-gen-container img {
  width: 65%;
}

.parte-3-matematica .container-imagens-1 {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding-top: var(--gap-padrao);
  }

.parte-3-matematica .divisao-rede {
  margin-top: 18vw;
}

.parte-3-matematica .sub-container-4 {
  align-items: center;
}

.parte-3-matematica .main-container-2 {
  padding: var(--padding-basico);
}

.parte-3-matematica .container-imagens-1 .print,
.parte-3-matematica .container-imagens-2 .print,
.parte-3-matematica .container-imagens-3 .print {
  width: 91vw;
}

.parte-3-matematica .container-final {
  padding: 0 5vw 0% 5vw;
}

.parte-3-matematica .divisao-engrenagem:last-child {
  margin: calc(1 * var(--gap-padrao)) 0 calc(2 * var(--gap-padrao)) 0
}

.saiba-mais-matematica div {
  display: flex;
  flex-direction: column;
}

/* Parte 4 - Como utilizar a IA gen? Pensando em comandos. */
.parte-4-como-utilizar .arte-1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-width: 100%;
}

.parte-4-como-utilizar .main-container {
  padding: var(--padding-basico);
  }
  
  .parte-4-como-utilizar .com-a-ia-box {
      max-width: 85%;
  }
  
  .parte-4-como-utilizar .main-container-2 {
      padding: 1% 5vw 0% 5vw;
  }

  .parte-4-como-utilizar .veja-o-exemplo {
    max-width: 85%;
    margin-bottom: 1rem;
  }

  .parte-4-como-utilizar .box-enem,
  .box-resp-enem .section:nth-of-type(1),
.box-resp-enem .section:nth-of-type(2),
.box-resp-enem .section:nth-of-type(3) {
  position: relative;
  padding: 2rem 1.5rem;
  overflow: hidden;
}
  
  .parte-4-como-utilizar .box-enem {
      margin-bottom: 0;
  }

  .parte-4-como-utilizar .main-container-2 .sub-container-1 img {
    max-width: 10%;
  }

  .parte-4-como-utilizar .main-container-2 .sub-container-1 p {
    margin-top: 0.8rem;
    margin-left: 0.8rem;
  }

  .parte-4-como-utilizar .main-container-2 .sub-container-1 {
    max-width: 92%;

  }
  
  .parte-4-como-utilizar .main-container-3 {
      padding: calc(2 * var(--gap-padrao)) 5vw 0% 5vw;
  }


  /* Parte 5 - Como posso usar a IA para meus estudos?  */

  .parte-5-estudos .sub-container-1-small-mobile {
    position: relative;
    background-color: var(--laranja-escuro); 
    border-radius: 10px; 
    padding: 1rem 1rem; 
    display: flex; 
    align-items: center; 
    gap: 1rem;
    align-self: center;
  }
  
  .parte-5-estudos .sub-container-1-small-mobile p {
    flex: 1;
    position: relative;
  }
  
  .parte-5-estudos .sub-container-1-small-mobile .fake-news-icone {
    max-height: 4.2rem;
    width: auto;
    object-fit: cover; 
  }

  .parte-5-estudos  .main-container .nesse-sentido {
    align-self: center;
    background-color: var(--azul-aux);
    padding: 1.5rem 2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    max-width: 90vw;
    text-align: center;
  }
  


  .parte-5-estudos  .main-container-2-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: 
    url('../assets/parte-5-estudos/fundo_mobile.png') no-repeat center bottom / contain, 
    linear-gradient(180deg, rgba(174,229,231,1) 0%, rgba(236,244,243,1) 100%);
    gap: calc(2* (var(--gap-padrao)));
    padding: 1rem 1rem calc(2* (var(--gap-padrao))) 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  
  .parte-5-estudos .main-container-2-mobile .sub-container-2-2:nth-of-type(1),
  .parte-5-estudos .main-container-2-mobile .sub-container-2-2:nth-of-type(3) {
    margin-top: 7rem;
  }
  
  
  /*  */
  #box-estudos-etica {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  #box-estudos-etica p {
    padding: 0 2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    -webkit-box-shadow: 0px 4px 1px -2px rgba(46,46,46,0.19);
    -moz-box-shadow: 0px 4px 1px -2px rgba(46,46,46,0.19);
    box-shadow: 0px 4px 1px -2px rgba(46,46,46,0.19);
    background-color: rgba(246, 241, 228, 0.25);
  }
  
  #box-estudos-etica button {
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 0.8rem 2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    outline: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
    white-space: normal;
  }
  
  #box-estudos-etica button img {
    max-width: 1rem;
  }
  
  .hide-box {
    max-height: 0; 
    opacity: 0; 
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden; 
    transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.2s ease;
  }
  
  .appear-box {
    opacity: 1; 
    padding: 2rem 2rem !important;
    max-height: 800px; 
    overflow: hidden; 
    transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.2s ease; 
  }
  /*  */
  
  .parte-5-estudos .main-container-2-mobile .box button {
    background-color: var(--laranja-escuro);
  }
  
  
  .parte-5-estudos .main-container-2-mobile .img-ciclo  {
  max-width: 70%;
  height: auto;
  }
  

  /* ----------------------------------------------------------------------------------- */



/* Parte 6 - IA: Questão de Ética  */
.parte-6-etica  .main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20vw 5vw 15vw 5vw;
  gap: var(--gap-padrao);
}

.parte-6-etica .divisao-rede {
  margin-bottom: 15vw;
}

.parte-6-etica .main-container-2-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background: 
    url('../assets/teste.png') no-repeat center bottom / contain, 
    linear-gradient(180deg, rgba(246,235,252,1) 0%, rgba(246,241,228,1) 100%); 
  gap: calc(2* (var(--gap-padrao)));
  padding: 4rem 1rem calc(2* (var(--gap-padrao))) 1rem;
  box-shadow: inset 0px 4px 1px -2px rgba(46, 46, 46, 0.08);
}

.parte-6-etica .main-container-2-mobile .img-ciclo  {
  max-width: 20%;
  height: auto;
  }

  .parte-6-etica .main-container-2-mobile .box button {
    background-color: var(--lilas-aux);
  }

  .parte-6-etica .main-container-2-mobile #box-estudos-etica {
    flex: 1;

  }

/* ----------------------------------------------------------------------------------- */



/* Parte 7 - A IA em sua rotina Univesp  */
.parte-7-rotina  .main-container {
  padding: var(--padding-basico);
  gap: var(--gap-padrao);
}

.parte-7-rotina  .main-container .exemplos-de-comandos {
  max-width: 85vw;
}

.parte-7-rotina .sub-container-1 {
  margin-bottom: -2rem;
}

.parte-7-rotina .main-container-2 {
  padding: 20vw 5vw 0% 5vw;
  gap: calc(2* (var(--gap-padrao)));
}

.parte-7-rotina  .main-container-2 {
  background: 
  url('../assets/parte-7-rotina/fundo-mobile.png') no-repeat center top / contain, 
  linear-gradient(0deg, rgb(246, 235, 252, 1) 0%, rgb(220, 176, 245) 100%);

}

.parte-7-rotina  .main-container-3 {
  padding: calc(2* (var(--gap-padrao))) 5vw calc(2* (var(--gap-padrao))) 5vw;
  gap: calc(2* (var(--gap-padrao)));
}

.parte-7-rotina .sub-container-2-small-mobile {
  position: relative;
  background-color: var(--lilas-aux); 
  border-radius: 10px; 
  padding: 1rem 1rem; 
  display: flex; 
  align-items: center; 
  gap: 1rem;
  align-self: center;
}

.parte-7-rotina .sub-container-2-small-mobile p {
  flex: 1;
  position: relative;
}

.parte-7-rotina .main-container-2 .comandos {
  text-align: left;
}

.parte-7-rotina .sub-container-2-small-mobile .fake-news-icone {
  max-height: 3.8rem;
  width: auto;
  object-fit: cover; 
}

#botao-referencias,
#botao-glossario {
  font-size: 1rem;
  white-space: normal;
}

/*#referencias-container,
#glossario-container {
  padding: 12vw 5vw 12vw 5vw;;
}*/

/* glossário e referências */
.content.visible {
  padding: 12vw 5vw 12vw 5vw;
}

.container-botoes {
  max-width: 90%;
}

}